
<p>Hey there! I’m <strong>Nirmal Mekala</strong>.👋🏾</p> <p>I’m one of those <strong>full-stack React</strong> developers. You may ask, <em>What kind?</em></p>
  <ul>
    <li><strong>A passionate kind.</strong> Just like I love feeling my lungs work uniquely hard when I run, I love feeling my brain work uniquely hard when I code. This enjoyment drives me to understand new technologies and solve new problems with code.</li>
    <li><strong>A communicative kind.</strong> As a former writer and educator, I know the power of quality (clear, concise, accurate, thoughtful) communication. Code comments, design presentations, documentation, commit messages, and even emails all matter to me.</li>
    <li><strong>A design-conscious kind.</strong> I value a product’s aesthetic and love creating things with beautiful design.</li>
    <li><strong>An empathetic kind.</strong> Because I empathize with the end user, I care about the user experience of what I create. Because I empathize with my team, I strive to be the kind of conscientious teammate I would want to work with.</li>
  </ul>
<p>Outside of coding, I enjoy human things like being active, eating good food, reading, listening to music, and spending time with friends and family.</p>
