<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<meta name="description" content="The portfolio site of Nirmal Mekala">
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" type="image/png" href="/favico.png">
<link rel="canonical" href="https://www.meka.la">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KXHD888YJW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KXHD888YJW');
</script>