<div class="navigation__overlay">
    <div class="navigation__menu">
        {% for link in site.data.navlinks %}
        <a href={{link.url}}>{{link.text}}</a>
        {% endfor %}
    </div>
</div>
<div class="navigation__wrapper">
    <nav class="navigation__navbar">
        <div class="navigation__links">
            {% for link in site.data.navlinks %}
            <a href={{link.url}}>{{link.text}}</a>
            {% endfor %}
        </div>
        <div class="navigation__hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="navigation__graphic" onclick="location.href='https://ndmekala.github.io/'">
            N
        </div>
    </nav>
</div>