.about {

    &__container {
        margin: 4rem auto 0 auto;
        max-width: 55rem;
        padding: 1rem 1rem;
        max-width: 55rem;

        @include breakpoint-up(medium) {
            margin-top: 5.25rem;
        }

        @include breakpoint-up(large) {

        }

        @include breakpoint-up(xlarge) {
            margin-top: 7.5rem;
        }
    }

    h1 {
        display: none;
    }

    @include breakpoint-up(medium) {
        margin-top: 4rem;
    }
    
    &__standout {
        font-size: 1.5rem;
        color: $rust;
        line-height: 1;
        margin-bottom: 1rem;
        
        @include breakpoint-up(medium) {
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
    }

    &__centered-button-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 0.75rem;
    }
}