@keyframes reveal {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

.reveal {
    animation: reveal 200ms ease-in-out forwards;
}

@keyframes hide {
    from {
        visibility: visible;
        opacity: 1;
    }

    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }

}

.hide {
    animation: hide 200ms ease-in-out forwards;
}