@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
    font-size: 100%;
    box-sizing: border-box;
}


*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: $lightGray;
}

h1 {
    color: $blue;
    font-weight: 900;
    font-size: 25vw;
    margin: 0 0 1.25rem 0;
    line-height: 1.01;
    @include breakpoint-up(medium) {
        font-size: 10vw;
    }
    @include breakpoint-up(large) {
        font-size: 7rem;
    }
}

h2 {
    color: $red;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
    font-weight: 400;
    font-size: $font-md;
    margin: 0 0 1.25rem 0;
}

p {
    color: $mediumGray;
    font-weight: 200;
}

a, a:visited, a:hover {
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.container {
    padding: 1rem 1rem;
    max-width: 800px;
    margin: 0 auto;
}