.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    @include breakpoint-up(medium) {
        margin-bottom: 1rem;

        &::before {
            content: "";
            // background-image: url('/assets/IMG_4952.JPG');
            background-image: url('https://images.unsplash.com/photo-1534085874097-5ffb7a5e2dab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
            // background-color: $green;
            background-position: center bottom;
            height: 70vw;
            max-height: 64rem;
            width: 100%;
            background-repeat: no-repeat;
            background-size: 100%;
            // filter: grayscale(100%);
            -ms-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            -moz-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }

    p {
        margin-top: 0;
        font-weight: 500;
        font-family: 'Inter var', Arial, Helvetica, sans-serif;
        font-size: 5vw;
        color: $lightGray;
        @include breakpoint-up(medium) {
            font-size: $font-lg;
        }
        @include breakpoint-up(xlarge) {
            font-size: 2rem;
        }
    }

    &__photo {
        background-color: $green;
        //background-image: url('/assets/IMG_4952.JPG');
        -ms-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        transform: scaleX(-1);
        height: 70vw;
        max-height: 25rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100%;

        // filter: grayscale(100%);

        @include breakpoint-up(medium) {
            display: none;
        }

        // @include breakpoint-up(large) {
        //     height: 19.4375rem;
        //     width: 19.4375rem;
        //     border-radius: 9.75rem;
        // }
    };

    &__text {
        width: 100%;

        @include breakpoint-up(medium) {
            // height: 100%;
            // width: 40%;
            position: absolute;
            // right: 0;
            bottom: 0;
            text-align: right;
        }

    };
}