.post {
    margin-top: 5rem;

    h1 {
        text-transform: none;
        letter-spacing: 0;
        font-weight: 700;
        margin: 0 0 1.75rem 0;
        margin-top: 0.1875rem;
        color: $green;
        font-size: $font-xlg;
    }
}