.post {

    body {
        background-color: $lightGray
    }

    h1 {
        font-size: $font-lg;
        text-transform: none;
        letter-spacing: 0;
        text-align: center;
        font-weight: 700;
        margin: 0.1875rem 0 0.625rem 0;
        color: $green;

        @include breakpoint-up(medium) {
            font-size: $font-xlg;
        }
    }

    &__article {
        margin-top: 6.25rem;
    }

    &__date {
        font-style: italic;
        margin: 0 0 3rem 0;
        color: $green;
        font-size: $font-md;
        text-align: center;
    }
}