.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    &__card {
        display: flex;
        background-color: $lightGray;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid $rust;
        border-radius: 1rem;
        margin: 0.3125rem;
        padding: 2.5rem 0 2.5rem 0;
        @include breakpoint-up(medium){
            justify-content: space-evenly;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        margin-bottom: 0.625rem;
        img {
            width:75vw;
            height: 75vw;
            min-width: 14.1875rem;
            min-height: 14.1875rem;
            box-shadow: 0rem 0.1875rem 0.75rem rgba(0,0,0,0.15);
            border-radius: 1rem;
            transition: all 200ms ease-in-out;

            &:hover {
                transform: scale(1.05);
            }
        }

        @include breakpoint-up(medium) {
            width: 18rem;

            img {
                width: 18rem;
                height: 18rem;
            }
        }
    }

    &__text{
       width: 75%;
       max-width: 25rem;
       min-width: 14.1875rem;

       @include breakpoint-up(medium) {
           width: 18rem;
       }
    }

    &__title {

    }

    &__description {
        color: $green;
    }

    &__technologies {
        height: 1.875rem;
        display: flex;
        justify-content: flex-start;
        margin: 0 0 1rem 0;
    }

    &__technology {
        font-family: 'Source Code Pro', 'Courier', monospace;
        padding: 0.25rem;
        background-color: $lightGreen;
        border-radius: 0.3125rem;
        margin: 0.1875rem 0;
        color: $green;

        &:not(:first-child) {
            margin-left: 0.3125rem;
        }
    }

    &__tool {
        font-family: 'Source Code Pro', 'Courier', monospace;
        padding: 0.25rem;
        background-color: $lightRust;
        border-radius: 0.3125rem;
        margin: 0.1875rem 0;
        color: $rust;

        &:not(:first-child) {
            margin-left: 0.3125rem;
        }
    }

    &__links {
        display: flex;
        justify-content: space-evenly;
    }

    &__calc {
        content: url('../assets/images/calc.gif');
    }

    &__etch {
        content: url('../assets/images/etch.gif');
    }

    &__todo {
        content: url('../assets/images/tasks.gif');
    }

    &__weather {
        content: url('../assets/images/weather.gif');
    }

    &__personal {
        content: url('../assets/images/personal.gif');
    }
}