.skills {

    &__list {
        display: flex;
        justify-content: space-around;
    }

    &__item {
        display: inline-block;
        font-family: 'Source Code Pro', monospace;
        padding: 0.375rem;
        font-size: $font-lg;
        border-radius: 0.625rem;
        margin: 1rem 0.5rem;
    }

    &__language {
        background-color: $green;
        color: $lightGray;
        border: none;
    }

    &__tool {
        background-color: $rust;
        color: $lightGray;
        border: none;
    }

    &__general {
        
    }

    // background-color: $lightGreen;

}