// colors
$evergreen: hsl(150, 35%, 34%);
$blue: hsl(231, 63%, 51%);
$gold: hsl(60, 93%, 44%);
$lightGray: hsl(0, 0%, 99%);
$mediumGray: hsl(0, 0%, 47%);


// font sizes
$font-sm: 0.8125rem;
$font-md: 1.0625rem;