// colors
//https://www.fabmood.com/blue-bright-orange-green-and-yellow-colour-combo/
$evergreen: #2A6749;
$blue: hsl(231, 63%, 51%);
$gold: #FECD04;
$red: #EF3B08;
$lightGray: hsl(0, 0%, 99%);
$mediumGray: hsl(0, 0%, 47%);


// font sizes
$font-sm: 0.8125rem;
$font-md: 1.0625rem;
$font-lg: 1.5rem;