// colors
$rust: hsl(23, 74%, 33%);
$green: hsl(158, 35%, 30%);
$lightRust: hsl(23, 74%, 82%);
$lightGreen: hsl(158, 35%, 70%);

$evergreen: #2A6749;
$blue: hsl(231, 63%, 51%);
$gold: #FECD04;
$red: #EF3B08;
$lightGray: hsl(0, 0%, 95%);
$mediumGray: hsl(0, 0%, 30%);


// font sizes
$font-sm: 0.8125rem;
$font-md: 1.0625rem;
$font-lg: 1.5rem;